@import "normalize.styl"

verde = #8DB335
gris = #5B5B5E
cafe = #3D382A

a 
	text-decoration none
body
	font-size 16px
	text-align center
	font-family 'Varela Round', 'sans-serif'
figure
	margin 0
//buttons
.button-menu
	position absolute
	top 50%
	left .5em
	margin-top -10px
.social
	float right
	position absolute
	top 50%
	margin-top -10px
	margin-right 1.1em
	right .5em
	&:nth-child(even)
		margin-right 0
	
.menu
	display none

.header
	background-color verde
	box-shadow 0px 1px 10px gris
	height 3.5em
	position relative
	margin 0
	.title
		font-size 1.1em
		color #fff
		text-align center
		margin 0
		line-height 3.5em



	