@import "normalize.styl"
@import "font.styl"

verde = #8DB335
verdec = rgba(141,179,53,.5)
gris = #5B5B5E
cafe = #3D382A

kamep = smartk0dregular
kames-regular = LithosProRegular
kames-bold = LithosPro850

a 
	text-decoration none
body
	background-color rgba(141,179,53,.2)
	font-size 14px
	overflow-y hidden 
	text-align center

figure
	margin 0


// clses generales

.img-web
	background-image url(../img/base/all.png)
	background-position 0px 0px
	background-repeat no-repeat
	background-size 100%
	height 179px
	margin 0 auto
	position relative
	top -50px
	width 315px

.img-diseno
	background-image url(../img/base/all.png)
	background-position 0px -352px
	background-repeat no-repeat
	background-size 100%
	height 178px
	margin 0 auto
	position relative
	top -50px
	width 315px	

.img-foto
	background-image url(../img/base/all.png)
	background-position 0px -530px
	background-repeat no-repeat
	background-size 100%
	height 178px
	margin 0 auto
	position relative
	top -50px
	width 315px

.img-clientes
	background-image url(../img/base/all.png)
	background-position 0px -177px
	background-repeat no-repeat
	background-size 100%
	height 177px
	margin 0 auto
	position relative
	top -50px
	width 315px			

.mas-info
	background-color verde
	width auto
	padding .4em 2em
	border-radius 7px
	color #fff
	box-shadow rgba(0,0,0,.5) 0px 2px 8px



.visible
	display block 

.font-s
	font-family kames-regular

.font-sbold	
	font-family kames-regular

.margen-sup
	margin-top 115px !important	

.margen-inf
	margin-bottom 15px	!important


//buttons
.button-menu
	color    #fff
	font-size 1em
	left 1em
	margin-top -12px
	position absolute
	top 55%

.social
	color #fff
	float right
	font-size 1.4em
	margin-right 1.5em
	margin-top -10px
	position absolute
	right .5em
	top 50%
	&:nth-child(even)
		margin-right 0	

.menu
	display none

.header
	background-color verde
	box-shadow 0px 1px 10px gris
	height 3.5em
	margin 0
	position relative
	.title
		color #fff
		font-family kames-bold
		font-size 1.5em
		line-height 2.5em
		margin 0
		text-align center

.box-boton
	margin-top 80px

.boton
	background-color verde
	width auto
	height 80px

.boton-busca
	background-color verde
	color cafe
	font-size 1.2em
	padding 20px 0

.texto-info
	background-color verdec
	display none
	font-family kames-regular
	margin -10px 0px 
	padding 80px 20px 50px 20px
	box-shadow verde 0 0 15px

.logo
	box-shadow verde 0 0 15px
	margin-top 20px
	background-color #fff

.text-saludo
	font-family kames-regular
	background-color #fff
	font-size 1.3em
	padding 20px 0px
	box-shadow verde 0 0 10px
	margin-top 15px
	color verde

.busca
	background-color verdec
	padding 15px 10px 45px 10px

.title-busca
	color gris
	font-size 2.5em

.text-busca
	color gris
	font-family 'Federo'  sans-serif
	font-size .8em
	padding 7px 35px
	& span
		color blue
		text-decoration underline

.ancho-b-caja
	height 50px !important

.b-caja
	border solid 1px verde !important
	border-radius 5px;
	box-shadow verde 1px 2px 10px !important
	font-family kames-regular !important
	margin .4em
	padding-left 1em
	width 20em

.b-enviar
	background-color verde
	border-radius 7px
	box-shadow gris 2px 2px 8px
	font-family kames-regular
	margin-top 5px
	padding .5em 1.5em
	color #fff
	font-size 1.2em
	border solid verde 1px 
	&:hover
		background-color verdec
		box-shadow gris 0 0 5px
		color #000

.footer
	background-color verde
	color #fff
	font-family kames-regular
	padding 30px 8px

.datos
	font-size .9em

.pie-pagina
	font-size .7em

