@font-face {
    font-family: 'smartk0dregular';
    src: url('../fonts/smart_kid-webfont.eot');
    src: url('../fonts/smart_kid-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/smart_kid-webfont.woff') format('woff'),
         url('../fonts/smart_kid-webfont.ttf') format('truetype'),
         url('../fonts/smart_kid-webfont.svg#smartk0dregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LithosPro850';
    src: url('../fonts/kames-bold.eot');
    src: url('../fonts/kames-bold.eot') format('embedded-opentype'),
         url('../fonts/kames-bold.woff') format('woff'),
         url('../fonts/kames-bold.ttf') format('truetype'),
         url('../fonts/kames-bold.svg#LithosPro850') format('svg');
}


@font-face {
    font-family: 'LithosProRegular';
    src: url('../fonts/kames-regular.eot');
    src: url('../fonts/kames-regular.eot') format('embedded-opentype'),
         url('../fonts/kames-regular.woff') format('woff'),
         url('../fonts/kames-regular.ttf') format('truetype'),
         url('../fonts/kames-regular.svg#LithosProRegular') format('svg');
}

@font-face {
	font-family: 'kameku';
	src:url('../fonts/kameku.eot?ug8tgg');
	src:url('../fonts/kameku.eot?#iefixug8tgg') format('embedded-opentype'),
		url('../fonts/kameku.woff?ug8tgg') format('woff'),
		url('../fonts/kameku.ttf?ug8tgg') format('truetype'),
		url('../fonts/kameku.svg?ug8tgg#kameku') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="kame-"], [class*=" kame-"] {
	font-family: 'kameku';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.kame-kamenu:before {
	content: "\e600";
}
.kame-di:before {
	content: "\e601";
}
.kame-twi:before {
	content: "\e602";
}
.kame-foto:before {
	content: "\e603";
}
.kame-face:before {
	content: "\e604";
}
.kame-web:before {
	content: "\e605";
}
.kame-logoc:before {
	content: "\e606";
}
.kame-logo:before {
	content: "\e607";
}
.kame-clientes:before {
	content: "\e608";
}
